#timer {
    font-size: 160px;
    text-align: center;
    margin: 40px 0px;
    font-family: 'Major Mono Display', monospace;
    color: #dbdbdb;
}

button {
    border-radius: 10px !important;

}
#startButton, #stopButton {
    background-color: transparent;
    border-color: #dbdbdb;
    border: 2px solid #dbdbdb;
    padding: 10px 40px;
    font-size: 30px;
}

#breakTime {
    color: #dbdbdb;
    text-align: center;
    margin-top: 40px;
    font-size: 60px;
}

#answerSubmit {
    color: #dbdbdb;
    margin: 30px 10px;
}


.timer-title {
    margin: 40px;
    font-family: monospace;
}

.question {
    margin-top: 40px;
    margin-bottom: 0px;
    color: #dbdbdb;
}
select {
    border: 1px solid #dbdbdb;
    background-color: rgba(255,255,255,.5);
    padding: 5px;
}

body {
	width: 100wh;
	height: 90vh;
	color: #dbdbdb;
	background-color: #1f1a24 !important;
}

.prompt input {
    width: 50%;
    padding-top: 4px;
    margin-top: -15px;
    display: block;
    background: 0;
    border: 0;
    border-bottom: 2px solid #dbdbdb;
    color: #dbdbdb;
    font-weight: 500;
    font-size: 60px;
    outline: 0;
    text-align: center;
    transition: border-color .2s ease;
}
